{% with current_page=page_obj %}
    <ul class="pagination justify-content-center mt-auto">
        <li class="page-item {% if not current_page.has_previous %} disabled {% endif %}">
            <a class="page-link" href="?page=1">&laquo;</a>
        </li>
        <li class="page-item {% if not current_page.has_previous %} disabled {% endif %}">
            <a class="page-link" href="{% if current_page.has_previous %} ?page={{ current_page.previous_page_number }} {% endif %}">&lt;</a>
        </li>
        {% for page in paginator.page_range %}
            {% if page > current_page.number|add:'-3' and page < current_page.number|add:'3' %}
                <li class="page-item {% if current_page.number == page %} active {% endif %}">
                    <a class="page-link" href="?page={{ page }}">{{ page|stringformat:"02d" }}</a>
                </li>
            {% endif %}
        {% endfor %}
        <li class="page-item {% if not current_page.has_next %} disabled {% endif %}">
            <a class="page-link" href="{% if current_page.has_next %} ?page={{ current_page.next_page_number }} {% endif %}">&gt;</a>
        </li>
        <li class="page-item {% if not current_page.has_next %} disabled {% endif %}">
            <a class="page-link" href="?page={{ current_page.paginator.num_pages }}">&raquo;</a>
        </li>
        <li class="page-item disabled">
            <a class="page-link" href="#">Total pages {{ paginator.num_pages }}</a>
        </li>
    </ul>
{% endwith %}